{% extends 'reunion/account_base.html' %}
{% load static %}
{% load tibitags %}
{% load humanize i18n %}

{% block title %}Ma carte cashless{% endblock %}

{% block account_page %}
<section class="card pt-3">
    <div class="card-body">
        <h1 class="card-title">Ma carte cashless</h1>
        <p class="lead">
            Ici je peux voir les informations de ma carte cashless et signaler une carte perdue.
        </p>

        <div class="mb-4">
            {% if user.email_valid %}
                <a href="{% url 'qrcodescanpay-get-scanner' %}" class="btn btn-primary square-btn">
                    <i class="bi bi-qr-code-scan"></i>
                    Ajouter une carte en scannant son QR code
                </a>
            {% else %}
                <button class="btn btn-secondary square-btn" disabled>
                    <i class="bi bi-qr-code-scan"></i>
                    Validez votre email pour ajouter une carte
                </button>
            {% endif %}
        </div>

        <div hx-get="/my_account/my_cards/" hx-trigger="revealed" class="mt-4">
            <span>{% translate "Loading Pass card info" %}</span>
            <div class="d-flex justify-content-center align-items-center ">
                <div class="spinner-border text-info"
                     role="status"
                ></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
