{% load tibitags %}
{% load humanize i18n %}

<h2 class="pt-3">Ma tirelire</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
        <th>Type</th>
        <th>Détail</th>
        <th>Montant</th>
        <th>Date / Infos</th>
        </thead>
        <tbody>
        {% for token in tokens %}
            <tr>
                <td><span class="badge bg-secondary">Solde actuel</span></td>
                <td>
                    {% if token.asset.is_stripe_primary %}
                        TiBillets
                    {% else %}
                        {{ token.name }}
                    {% endif %}
                    {% if token.asset.names_of_place_federated %}
                        <div class="small text-muted">{{ token.asset.names_of_place_federated|join:", " }}</div>
                    {% endif %}
                </td>
                <td><strong>{{ token.value | dround }}</strong></td>
                <td>{{ token.last_transaction_datetime|default:"-" }}</td>
            </tr>
        {% endfor %}

        {% for tr in transactions %}
            <tr class="test-return-{{ tr.serialized_asset.name | slugify }}-{{ tr.amount | dround | slugify }}-content">
                <td>{{ tr.action|get_choice_string:actions_choices }}</td>
                <td>
                    {% if tr.action != "FUS" %}
                        {% if tr.serialized_asset.is_stripe_primary %}
                            TiBillets

                        {% else %}
                            {{ tr.serialized_asset.name }}
                        {% endif %}
                        {% if tr.serialized_sender.uuid == user.wallet.uuid %}
                            <div class="small text-muted">{% translate "Wallet" %}</div>
                        {% elif tr.serialized_sender.get_name == 'Primary Wallet' %}
                            <div class="small text-muted">{% trans 'Lèspass platform' %}</div>
                        {% else %}
                            <div class="small text-muted">{% trans 'LaBoutik register' %}</div>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if tr.action != "FUS" %}
                        <strong>{{ tr.amount | dround }}</strong>
                        {% if tr.serialized_asset.is_stripe_primary %}
                            TiBillets
                        {% else %}
                            {{ tr.serialized_asset.name }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ tr.datetime }} : {{ tr.datetime|naturaltime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
