asgiref==3.12.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
cryptography==48.0.1
Django==4.2.30
django-solo==2.5.1
django-stdimage==6.0.2
djangorestframework==3.17.2
djangorestframework-api-key==3.1.0
idna==3.20
packaging==26.3
pillow==12.3.0
psycopg==3.3.6
psycopg-binary==3.3.6
pycparser==3.0
PyYAML==6.0.3
requests==2.34.2
sqlparse==0.6.0
stripe==15.6.1
typing_extensions==4.16.0
urllib3==2.8.0
